/*Bethany Mehring
CSD340
Module 9 Assignment Build a Webpage Exercise, Part 6
2/13/2023*/
header{
    background-color: #567572FF;
    color: white;
    padding: 20px;
    text-align: center;
}
h1{
    font-weight: 400;
}
#navbar{
    overflow: hidden;
    background-color: #964f4cff;
    border-bottom: 15px solid #567572FF;
}
#navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbar a:hover{
    background-color: white;
    color: #964f4cff;
}
#container{
    margin: 2% 5% 5% 100px;
    padding: 10px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
    padding: 5px;
}
.card-title{
    text-align: center;
    font-size: 2em;
    color: #567572FF;
    font-weight: 400;
}
.card-content{
    padding: 2px 16px;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
footer{
    background-color: #567572FF;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    color: white;
    font-style: italic;
    font-weight: 400;
    
}
footer p{
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
}
#movies{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}
#movies th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #567572FF;
    color: white;
}
#movies td{
    border: 1px solid #ddd;
    padding: 8px;
}
