html{
    margin: 0 0 0 0px;
    padding: 0px;
    background-color: rgb(3, 78, 78,.25);
}
header{
    background-color: rgb(3, 78, 78);
    width: 100%;
    text-align: center;
    height: 85px;
    color: white;
    margin-top: 10px;

}
h1{
    margin: 0px;
    font-size: 60px;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.grid-item{
    float: left;
    width: 33%;
    text-align: center;
    padding: 15px;
}
.grid-container{
    margin: 5px;
    padding: 5px;
    width: 100%;
    text-align: center;
}
.grid-container:after{
    content: "";
    display: table;
    clear: both;
}
.card-img{
    max-width: 100%;
    height: auto;
    padding: 5px;
}
.card{
    box-shadow: 0 8px 8px 0 rgba(3, 78, 78);
    padding: 16px;
    text-align: center;
    color: white;
    background-color: rgb(3, 78, 78,.5);
    font-size: smaller;
}
.aboutme{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.me{
    width: 35%;
}
h2.hobbies{
    text-align: center;
}
h2.work{
    text-align: center;
}


@media only screen and (max-width: 600px){
    .grid-item{
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .card-img{
        max-width: 50%;
        max-height: 50%;
    }
    h1{
        font-size: 35px;
    }
    .me{
        width: 60%;
    }
}
